.login_button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.login_box{
    width: 50%;
    border: solid;
    padding: 10px;
    margin: auto;
    background-color: rgb(226, 238, 249);
    border-radius: 10px;
    opacity: 0.9;
}

.body{
    font-family: 'Courier New', monospace;
    background-image: url('background_img.jpg');
}

.login_input{
    margin: auto;
    display: block;
    height: 25px;
    width: 60%;
    background-color: rgba(118, 127, 228, 0.07);
    border-radius: 4px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.upload_button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
}

.upload_box{
    width: 80%;
    border: solid;
    padding: 10px;
    margin: auto;
    background-color: rgb(226, 238, 249);
    border-radius: 10px;
    opacity: 0.9;
}

.student_table{
    width: 80%;
    border: solid;
    padding: 10px;
    margin: auto;
    background-color: rgb(226, 238, 249);
    border-radius: 10px;
    opacity: 0.9;
}

.student_table th{
    background-color: #9be0f7;
}

.student_table td{
    background-color: #c8e7f2;
}

.table_buttons{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
}

input::file-selector-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
}
